.App {
  text-align: center;
}

.container{
  background-color: beige;
  align-content: center;
  padding: 50px;
}

p{
  font-family: 'Noto Sans KR', sans-serif;
}

h1{
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.logo{
  align-content: center;
  margin-left: 20%;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.imput {
  display: flex;
  width: 100%;
  height: 100%;      
  display: flex;
  text-align: center;
  align-content: center;
}

.button {
  font-size: 1em;
  font-family: Verdana, Helvetica;
  color: white;
  background: #638cb5;
}

.App-link {
  color: #61dafb;
}
